@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Abel.woff2) format('woff2');}
/* latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Dancing_Script.woff2) format('woff2');}
/* latin */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Marck_Script.woff2) format('woff2');}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Montserrat.woff2) format('woff2');}
/* latin */
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Passion_One.woff2) format('woff2');}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(Roboto.woff2) format('woff2');}
@font-face {
  font-family: 'amazingruler-webfont';
  font-style: normal;
  font-weight: 400;
  src: url(amazingruler-webfont.woff) format('woff');}
@font-face {
  font-family: 'crackin-webfont';
  font-style: normal;
  font-weight: 400;
  src: url(crackin-webfont.woff) format('woff');}
@font-face {
  font-family: 'tawk-widget';
  font-style: normal;
  font-weight: 400;
  src: url(tawk-widget.woff) format('woff');}
@font-face {
  font-family: 'tawk-widget';
  font-style: normal;
  font-weight: 400;
  src: url(tawk-widget.woff2) format('woff2');}
@font-face {
  font-family: 'ABCLogosXYZ';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ABCLogosXYZ.ttf) format('ttf');}
@font-face {
  font-family: 'EagleGTII';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(EagleGTII.ttf) format('ttf');}
@font-face {
  font-family: 'hulk3d2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(hulk3d2.ttf) format('ttf');}
@font-face {
  font-family: 'IncantationOne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(IncantationOne.ttf) format('ttf');}
@font-face {
  font-family: 'ToonyNoodleNF';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ToonyNoodleNF.ttf) format('ttf');}
@font-face {
  font-family: 'tawk-widget';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(tawk-widget.ttf) format('ttf');}
@font-face {
  font-family: 'cowboys';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(cowboys.ttf) format('ttf');}
@font-face {
  font-family: 'MYLITHOS';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(MYLITHOS.ttf) format('ttf');}
@font-face {
  font-family: 'Cousine-Bold';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Cousine-Bold.ttf) format('ttf');}
@font-face {
  font-family: 'MYLITHOS';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(MYLITHOS.ttf) format('ttf');}
@font-face {
  font-family: 'Chunk_Five_Print';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Chunk Five Print.otf) format('otf');}
@font-face {
  font-family: 'MYLITHOS';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(MYLITHOS.ttf) format('ttf');}